@import './theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita scrollbars en toda la aplicación */
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}